<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
</head>

<body>
    <div>
        <button>SALVAR</button>
        <input type="text">
    </div>

    <div>
        <h1>KLEBER VIEIRA ti</h1>
        <p>ANALISTA DE SISTEMA</p>
        <p>FORMADO NA UNIVERSIDADE ESTACIO</p>
        <h2>BERG RABELO ESTA DE VOLTA</h2>
        <H3>TESTE</H3>
        <H6>TESTE</H6>
    </div>


</body>

</html>