<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <!--importa o css de outro aquivo-->
    <title>Teste</title>
</head>

<body>
    <div>
        <button>SALVAR</button>
        <input type="text" placeholder="Digite seu Nome">
        <!--coloca texto dentro do input-->
    </div>

    <div>
        <h1>KLEBER VIEIRA TI</h1>
        <p>ANALISTA DE SISTEMA TI</p>
        <p>FORMADO NA UNIVERSIDADE ESTACIO</p>
        <h2>BERG RABELO ESTA DE VOLTA</h2>
        <H3>TESTE1</H3>
        <H6>TESTE2</H6>
    </div>


</body>


</html>